
  <head>
        <link rel="stylesheet" href="/../css/river.css">
  </head>
  <body data-user="{{user}}">
        <nav class="nav">
                <ul class="nav-list"></ul>
                    <li class="nav-list-item"><a href="/" class="nav-list-item">Sign Out</a></li>
                    <li class="nav-list-item"><a href="/indexAcct/{{user}}" class="nav-list-item">Home</a></li>
                    <li class="nav-list-item"><a href="/myAcct/{{user}}" class="nav-list-item">My Account</a></li>
                    <li class="nav-list-item"><a href="/changeAcct/{{user}}" class="nav-list-item">The Change Process</a></li>
                    <li class="nav-list-item"><a href="/acesAcct/{{user}}" class="nav-list-item">ACEs</a></li>
                </ul>
            </nav>
        <header class="header">
            <div class="header__logo-box">
                 <img src="../img/reallogo.png" alt="Logo" class="header__logo">
            </div>
            <div class="header__text-box">
                 <h1 class="heading-primary">
                    <span class="heading-primary--main">Peaceful Families</span>
                     <span class="heading-primary--sub">Justice Involved Women</span>
                   </h1>
            </div>
        </header>
        <main>
            <section class="section-about">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                       The River of Cruelty
                    </h2>
                    <p class="intro">How cruelty is passed from person to person and generation to generation: <br>
                    Complete the workbook below to build your own river model.</p>
                </div>
                <div class="workbook"></div>
                
                <div class="u-center-text u-margin-top-huge">
                    <button id="back" class="btn btn--green">Back</button>
                    <button id="next" class="btn btn--green">Next</button>
                </div>
            </section>
        </main>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/myAcct.js"></script>
<script type="text/javascript" src="/js/river.js"></script>
</body>
